@media (max-width: 551px) {
    * {
        margin: 0px;
        padding: 0;
        font-family: sans-serif;
        background-color: rgba(35, 158, 142, 0.897);
    }
.img{
    max-width: 40%;
}

    .container {
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: 1fr;
        grid-template-areas:
            "Casa1"
            "Casa-2"
            "Casa-3"
            "Casa-4"
            "Casa-5"
            "Casa-6";
max-width: 100%;
    }
 .buscarinicio{
    max-width: 100%;
 }
.uno{
    max-width: 100%;
}
    .btn-primary {
        background-color: rgb(0, 89, 255);
    }
footer {
    max-width: 40%;
    display: flex;

    .footer-prueba ul {
        display: flex;
        flex-direction: column;
        max-width: 200px;
    }
     }
    }