@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap');
@import './_header.scss';
@import './_medio.scss';
@import './_footer.scss';
@import './_mediaqueris.scss';


* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgba(214, 189, 148, 0.897);
}
body{
    background-color:  #dac49f;
}